<div class="spinner-container">
<progress class="progress is-small is-primary spinner" max="100" *ngIf="!isLoading">60%</progress>
</div>

<div class="main-container" *ngIf="isLoading">


  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" (keyup)="filter($event.target.value)" type="text" placeholder="Filter">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
  <app-note-card
    [@itemAnim]
    *ngFor="let note of filteredNotes; index as i"
    [link]="generateNotesUrl(note)"
    (delete)="deleteNote(note)"
    [title]="note.title"
    [body]="note.body">
  </app-note-card>
  </div>

  <div class="button floating-add-button is-primary" routerLink="new">+ Add</div>

</div>





